* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to bottom right, #18978F, #A0D995);
}

main {
  padding: 20px;
  height: 85%;
}

header {
  display: flex;
  padding-bottom: 10px;
  flex-flow: row wrap;
  justify-content: space-between;
  border-bottom: 1px dotted white;
}

#heading,
#profile {
  font-size: 32px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  color: white;
}

#lists-container {
  height: 600px;
  padding: 40px;
  font-size: 32px;
  overflow: auto;
}

.list {
  margin: 10px 0px;
  padding: 20px 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border: 0.5px solid #A0C1B8;
  border-radius: 1%;
  background-color: #90C8AC;
}

#date {
  font-size: 20px;
}

a {
  text-decoration: none;
}

footer {
  margin: 0px 20px;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-top: 1px dotted white;
}

#create {
  padding: 5px;
  font-size: 26px;
  display: flex;
  flex-flow: row wrap;
  column-gap: 5px;
  justify-content: space-around;
  align-items: center;
  color: #0A043C;
}

#log-out {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

#button {
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
}

#popup {
  width: 300px;
  height: 180px;
  padding: 20px;
  background-color: antiquewhite;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  visibility: hidden;
}

#new-list {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

#title {
  padding: 10px 20px;
  width: 100%;
  font-size: 24px;
}

#add {
  width: 100%;
  margin-top: 30px;
  padding: 10px 0px;
  background: #18978F;
  color: white;
  font-size: 22px;
  cursor: pointer;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}