* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-image: linear-gradient(to bottom right, #18978F, #A0D995);
}

main {
  padding: 20px;
  height: 85%;
}

header {
  display: flex;
  padding-bottom: 10px;
  flex-flow: row wrap;
  justify-content: space-between;
  border-bottom: 1px dotted white;
}

#heading,
#profile {
  font-size: 32px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  column-gap: 5px;
  color: antiquewhite;
}

.material-icons {
  font-size: 40px !important;
}

#lists-container {
  height: 600px;
  padding: 40px;
  font-size: 32px;
  overflow: auto;
}

.list {
  margin: 10px 0px;
  padding: 20px 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border: 0.5px solid #A0C1B8;
  background-color: #8fe4ba;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

#item {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.checkbox {
  width: 20px;
  height: 20px;
}

#delete {
  cursor: pointer;
}

#delete:hover {
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  background-color: #5bb387e6;
  transform: scale(1.2);
}

footer {
  margin: 0px 20px;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-top: 1px dotted rgba(0, 0, 0, 0.7);
}

#create {
  padding: 5px;
  font-size: 26px;
  display: flex;
  flex-flow: row wrap;
  column-gap: 5px;
  justify-content: space-around;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

#create i:hover {
  transform: scale(1.1);
}

#back {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

#button {
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
  background-color: #18978F;
  color: white;
}

#popup {
  width: 360px;
  height: 240px;
  padding: 50px;
  background-color: antiquewhite;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  visibility: hidden;
}

#add-item {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

#name {
  width: 100%;
  font-size: 24px;
  padding: 10px 20px;
}

#add {
  width: 100%;
  padding: 10px 0px;
  background: #18978F;
  color: white;
  font-size: 22px;
  cursor: pointer;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}